.ui-icon {
    border-radius: 0 !important;
    margin-right: 2px;
}

.outputMultilineText {
    border: none !important;
    overflow: auto;
    resize: none;
    width: 99%;
}

.inputMultilineText {
    overflow: auto;
    resize: none;
    width: 100%;
}