<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-4.0.xsd">

    <http auto-config="true">
        <access-denied-handler error-page="/WEB-INF/jsp/access-denied-page.jsp"/>
        <form-login  login-page="/login" default-target-url="/page/patients.xhtml" authentication-failure-url="/login?error"/>
        <logout logout-success-url="/login" logout-url="/logout"/>
        <intercept-url pattern="/" access="permitAll" />
        <intercept-url pattern="/template/main.xhtml" access="hasAnyRole('ROLE_USER', 'ROLE_DEPARTMENT_HEAD')"/>
        <intercept-url pattern="/page/analysis.xhtml" access="hasAnyRole('ROLE_USER', 'ROLE_DEPARTMENT_HEAD')"/>
        <intercept-url pattern="/page/health-status.xhtml" access="hasAnyRole('ROLE_USER', 'ROLE_DEPARTMENT_HEAD')"/>
        <intercept-url pattern="/page/patients.xhtml" access="hasAnyRole('ROLE_USER', 'ROLE_DEPARTMENT_HEAD')"/>
        <intercept-url pattern="/page/personal.xhtml" access="hasRole('ROLE_DEPARTMENT_HEAD')"/>
        <intercept-url pattern="/page/thermal-sheet.xhtml" access="hasAnyRole('ROLE_USER', 'ROLE_DEPARTMENT_HEAD')"/>
        <remember-me token-validity-seconds="604800" remember-me-parameter="remember-me" user-service-ref="userDetailsServiceImpl"/>
        <csrf disabled="true"/>
    </http>

    <authentication-manager alias="authenticationManager">
        <authentication-provider user-service-ref="userDetailsServiceImpl">
            <password-encoder ref="bCryptPasswordEncoder"/>
        </authentication-provider>
    </authentication-manager>

</beans:beans>